<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${loggingPattern}"/>
            <ThresholdFilter level="${useConsoleAppender}" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <RollingFile name="DebugAppender" fileName="${loggingFolder}NaviStockExchange.log"
                     filePattern="${loggingFolder}NaviStockExchange.log.%d{H}">
            <PatternLayout pattern="${loggingPattern}"/>
            <JSONLayout compact="${useCompactJson}" eventEol="true"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <ThresholdFilter level="${LOG_LEVEL}" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>

        <RollingFile name="ErrorAppender" fileName="${loggingFolder}Error.log"
                     filePattern="${loggingFolder}Error.log.%d{H}">
            <PatternLayout pattern="${loggingPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>


    </Appenders>
    <Loggers>
        <Logger name="DebugAppender" includeLocation="false">
            <AppenderRef ref="DebugAppender"/>
        </Logger>
        <Logger name="ErrorAppender" includeLocation="false">
            <AppenderRef ref="ErrorAppender"/>
        </Logger>

        <Root level="DEBUG">
            <AppenderRef ref="DebugAppender"/>
            <AppenderRef ref="ErrorAppender"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>